.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;

  .popup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 50px;
    padding: 20px;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translateX(-50%);
    position: fixed;
    z-index: 101;
    background-color: white;
    border-radius: 10px;

    &__title {
      font-size: 20px;
      text-align: center;
    }

    &__content {
      height: 100%;
      margin: 2em;
    }

    &__actions {
      text-align: right;
      display: flex;
      justify-content: end;
      gap: 2vw;
    }
    .custom-select {
      .selected {
        min-height: 45px;
      }

      .items {
        max-height: 30vh;
      }
    }
  }
}

@media all and (max-width: 1200px) and (orientation: portrait) {
  .backdrop {
    .popup {
      width: inherit;
      height: inherit;
      &__content {
        height: 100%;
        margin: 20px;
        width: 60vw;
        height: 60vh;
      }
    }
  }
}
